@use './variables' as v;

.crew {
  background-image: url('../assets/crew/background-crew-mobile.jpg');
  background-size: cover;

  min-height: 100vh;
  min-width: 17.5rem;
  padding: 10.8rem 2rem 0 2rem;

  text-align: center;

  .title {
    letter-spacing: v.$spacing-title;
    margin-bottom: 4rem;

    span {
      color: grey;
      margin-right: 0.8rem;
    }
  }

  .img-container {
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;

    img {
      height: 18rem;
      margin: 0 auto;
    }
  }

  .crew-selector {
    margin-bottom: 1rem;

    .active {
      background-color: #ffffff;
    }

    button {
      aspect-ratio: 1/1;
      width: 0.9rem;

      border-radius: 50%;
      border: none;

      margin: 0 0.4rem;

      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer;

      &:hover {
        background-color: #ffffff;
      }
    }
  }

  .crew-bio {
    .position {
      color: grey;
    }

    .name {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (min-width: 34em) {
  .crew {
    background-image: url('../assets/crew/background-crew-tablet.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;

    padding-top: 11rem;

    .title {
      text-align: left;
      margin-left: calc(1rem + 11%);
    }
    .img-container {
      order: 10;
      margin-bottom: 0;
      border-bottom: none;

      img {
        height: 40rem;
      }
    }

    .content-container {
      display: flex;
      flex-direction: column;
    }

    .crew-selector {
      order: 5;
      margin-bottom: 2rem;
    }

    .crew-bio {
      max-width: 37rem;
      margin: 0 auto 2rem auto;
    }
  }
}

@media only screen and (min-width: 85em) {
  .crew {
    background-image: url('../assets/crew/background-crew-desktop.jpg');
    background-size: cover;

    padding: 11rem 5.5rem 0 5.5rem;
    text-align: left;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .title {
      margin-bottom: 8rem;
      margin-left: 0;

      position: absolute;
    }

    .img-container {
      img {
        height: 45rem;
        margin: 0;
      }
    }

    .content-container {
      justify-content: center;
    }
    .crew-selector {
      margin-bottom: 1rem;

      button {
        width: 1rem;
        margin: 0 1rem;
        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
    .crew-bio {
      margin-bottom: 5rem;
      margin-left: 0;

      .bio {
        width: min(41vw, 36rem);
        letter-spacing: initial;
        line-height: 2.5rem;
        font-size: 1.5rem;
      }
    }
  }
}
