@use './variables' as v;

.home-page {
  min-height: 100vh;
  padding-top: 10.8rem;
  padding-bottom: 4rem;

  background-image: url('../assets/home/background-home-mobile.jpg');
  background-size: cover;

  .intro {
    max-width: 30rem;
    text-align: center;
    padding: 0 1rem;
    margin: 0 auto;

    .h5 {
      color: #d0d6f9;
      letter-spacing: 0.25rem;
    }
    p {
      margin-bottom: 1.25rem;
    }
  }

  .explore {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    height: 13.5rem;
    width: 13.5rem;
    background-color: #ffffff;

    margin: 9rem auto 0 auto;
    color: black;

    transition-property: box-shadow;
    transition-duration: 0.3s;

    cursor: pointer;
    &:hover {
      box-shadow: 0 0 0 3rem rgba(255, 255, 255, 0.2);
    }
  }
}

@media only screen and (min-width: 34em) {
  .home-page {
    background-image: url('../assets/home/background-home-tablet.jpg');
    background-size: cover;

    .explore {
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: 77em) {
  .home-page {
    background-image: url('../assets/home/background-home-desktop.jpg');
    background-size: cover;

    display: flex;

    .intro {
      margin-top: 7.5rem;

      text-align: left;

      p:last-of-type {
        letter-spacing: initial;
        line-height: 2rem;
      }
    }

    .explore {
      margin-top: 16rem;

      height: 17rem;
      width: 17rem;
    }
  }
}
