/* Color */
$clr-bg: #0B0D17; 
$clr-bg-light: #979797; 

$clr-text-main: #D0D6F9; 
$clr-text-white: #FFFFFF; 
$clr-text-black: #0B0D17; 
$clr-text-grey: #979797; 

/* Font family */
$ff-hd1: 'Bellefair', serif; 
$ff-hd2: 'Bellefair', serif; 
$ff-hd3:'Bellefair', serif;  
$ff-hd4:'Bellefair', serif;  
$ff-shd1:'Bellefair', serif;  

$ff-hd5: 'Barlow Condensed', sans-serif;
$ff-shd2: 'Barlow Condensed', sans-serif;
$ff-nav: 'Barlow Condensed', sans-serif;
$ff-body: 'Barlow Condensed', sans-serif;

/* Font size */
$fz-hd1: 9.375rem;
$fz-hd2: 6.25rem;
$fz-hd3: 3.5rem;
$fz-hd4: 2rem;
$fz-hd5: 1.75rem;
$fz-shd1: 1.75rem;
$fz-shd2: 0.875rem;
$fz-nav: 1rem;
$fz-body: 1.125rem;
