/* Reset agent's default margins, to make sure what you see is what you applied. No suprises. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth scroll behaviour */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* a elements that don't have a class get default styles */
a,
a:hover,
a:active {
  text-decoration: none;
}

/* Remove the style for list */
ul,
li {
  list-style: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.bold {
  font-weight: bold;
}

.h1,
.h2,
.h3,
.h4,
.subhead1 {
  color: #ffffff;
  font-family: 'Bellefair', serif;
}

.h5,
.subhead2,
.navtext {
  color: #d0d6f9;
  font-family: 'Barlow Condensed', sans-serif;
}

.h5 {
  color: #ffffff;
}

.body {
  color: #d0d6f9;
  font-family: 'Barlow', sans-serif;
}

.h1 {
  font-size: 5rem;
}

.h2 {
  font-size: 3rem;
}

.h3 {
  font-size: 2rem;
}

.h4 {
  font-size: 1.25rem;
}

.h5 {
  font-size: 1.15rem;
}

.subhead1 {
  font-size: 1.75rem;
}

.subhead2 {
  font-size: 0.875rem;
  letter-spacing: 0.2rem;
}

.navtext {
  font-size: 1rem;
  border-bottom: 2px solid transparent;
  &:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
  }
}

.body {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.07rem;
}

a,
a:hover,
a:active {
  color: #ffffff;
}

.non-mobile {
  display: none;
}

@media only screen and (min-width: 34em) {
  .h1 {
    font-size: 9.375rem;
  }

  .h2 {
    font-size: 6.25rem;
  }

  .h3 {
    font-size: 3.5rem;
  }

  .h4 {
    font-size: 2rem;
  }

  .h5 {
    font-size: 1.75rem;
  }

  .subhead1 {
    font-size: 1.75rem;
  }

  .subhead2 {
    font-size: 0.875rem;
  }

  .navtext {
    font-size: 1rem;
  }

  .body {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 56em) {
  .h1 {
    font-size: 9.375rem;
  }

  .h2 {
    font-size: 6.25rem;
  }

  .h3 {
    font-size: 3.5rem;
  }

  .h4 {
    font-size: 2rem;
  }

  .h5 {
    font-size: 1.75rem;
  }

  .subhead1 {
    font-size: 1.75rem;
  }

  .subhead2 {
    font-size: 0.875rem;
  }

  .navtext {
    font-size: 1rem;
  }

  .body {
    font-size: 1.125rem;
  }
}
